
.spot-card-item {
  display: inline-block;
  width: calc(100% * (1/4) - 11px);
  height: 70%;
  padding: 3px;
  margin: 2px;
  color: black;
}

.spot-card {
  height: fit-content;
}

.spot-card-image {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.spot-card-stuff {
  display: flex;
  justify-content: space-between;
}

.spot-card-stuff p {
  margin: 4px;
}

.price p {
  margin: 4px;
}
