.spot-card-item {
  display: inline-block;
  width: calc(100% * (1/4) - 11px);
  padding: 3px;
  margin: 2px;
}

.spot-card-image {
  width: 100%;
}

.spot-card-stuff {
  display: flex;
  justify-content: space-between;
}

.spot-card-stuff p {
  margin: 4px;
}

.price p {
  margin: 4px;
}
