
.create-spot-form-container {

  display: flex;
  justify-content: center;
  width: 100%;
}

.form-sub-container {
  display: flex;
  width: 40%;
}

.new-spot-form {
  display: flex;
  flex-direction: column;
}

.new-spot-form button {
  font-size: 15px;
  padding: 5px;
  color: white;
  background-color: red;
  box-shadow: 2px 2px 2px black;
}

.section-one {
  display: flex;
  flex-direction: column;
}


.section-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.section-three {
  display: flex;
  flex-direction: column;
}

.section-three textarea {
  resize: none;
  height: 140px;
}

.section-four {
  display: flex;
  flex-direction: column;
}

.section-five {
  display: flex;
  flex-direction: column;
}

.price-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.price-container input {
  width: 100%;
}

.price-container p {
  margin-right: 5px;
}

.section-six {
  display: flex;
  flex-direction: column;
}

.section-six input {
  margin: 8px 0px;
}

.city-input-div  {
  width: 58%;
}

.state-input-div  {
  width: 40%;
}

.state-input-div input {
  width: 100%;
  box-sizing: border-box;
}

.city-input-div input {
  width: 100%;
  box-sizing: border-box;
}

label {
  display: flex;
  align-items: center;
}
