.delete-review-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
}

.delete-review-container button {
  padding: 10px;
  margin-bottom: 10px;
  width: 92%;
  box-shadow: 2px 2px 2px black;
}

.delete-review-container h1 {
  margin: 10px 0px 0px 0px;
}

.delete-review-container p {
  font-size: 18px;
}
