.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
}

.profile-logo {
  padding-left: 8px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.profile-logo p {
 margin: 5px;
}
