.hidden {
  display: none
}

.fa-user-circle {
  margin: 6px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

}

.new-hr {
  border-top: 2px solid black;
}

.logout-button {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
